@model Klase.Auto

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Auto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Proizvodjac " class="control-label"></label>
                <select asp-for="ProizvodjacID" class ="form-control" asp-items="ViewBag.ProizvodjacID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boja" class="control-label"></label>
                <input asp-for="Boja" class="form-control" />
                <span asp-validation-for="Boja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Godiste" class="control-label"></label>
                <input asp-for="Godiste" class="form-control" />
                <span asp-validation-for="Godiste" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Novo" /> @Html.DisplayNameFor(model => model.Novo)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
